<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ретрация пользователя</title>
</head>
<body>
{{if .Success}}
<h1>Код отправлен на почту</h1>
{{else}}
<h1>Contact</h1>
{{ if .Error }}
<h4>{{ .Error }}</h4>
<hr>
{{ end }}
<form method="POST">
    <label>Email:</label><br/>
    <input type="text" name="email"><br/>
    <input type="submit">
</form>
{{end}}
</body>
</html>